:root {
    --main-color: #294859;
    --header-bg: white;
    --frametext-div: white;
    --sidenav-bg: #294859;
    --sidenav-color: #e0dbce;
    --sidenav-hoverbg: #233f4f;
    --sidenav-hovercolor: #fff;
    --main-bg: #eeeeee;
    --accent-color: #EEBA0B;
    --bg-img: url(none);
    --modal-header: #294859;
}



body{
    margin: 0;
    padding: 0;
}

/* Main Login */
.closeSignup {
    position: absolute;
    z-index: 200;
    margin-top: 10px;
    margin-left: 920px;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeSignup:hover,
.closeSignup:focus {
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
}

.signup {
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 14px 20px;
    font-size: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-family: 'Open Sans';
}
.signup:hover {
    opacity: 0.8;
}
.mainLogin {
    text-align: center;
    border-radius: 5px;
    margin: 30px;
    margin-right: 200px;
    margin-top: 150px;
}

/* Main and iFrame */

.main {
    background-image: var(--bg-img);
    background-color: var(--main-bg);
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.frameText {
    font-family: 'Open Sans';
    font-size: 20px;
    margin-left: 15px;
    padding-left: 15px;
    margin-right: 20px;
    color: var(--main-color);
}
.frameText div {
    border-radius: 5px;
    background-color: var(--frametext-div);
    margin: 15px;
    padding: 15px;
}
.frameText span {
    font-weight: bold;
    color: var(--accent-color);
}

.frameText h2 {
    font-family: "Montserrat";
    margin-bottom: 0px;
}

.frameText h1 {
    font-family: "Montserrat";
    margin-bottom: 0px;
}

.frame {
    height: 200px;
    width: 200px;
    border: none;
}

.frame2{
    border: none;
    width:100%;
    height:580px;
    margin:10px;
    margin-top:80px;
    float:left;
    position: relative;
}

/* Header */

.userheader {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.header {
    vertical-align: middle;
    line-height: 80px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 35px;
    height: 80px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--header-bg);
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    position: fixed;
    left: 0;
    color: var(--main-color);
}

.icon {
    position: relative;
    top: 10px;
    left: 10px;
}

.about {
    font-size: 20px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
}

/* Navigation */

.sidenav {
    border-radius: 5px;
    margin-top: 100px;
    height: 78%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    padding: 10px;
    left: 10px;
    background-color: var(--sidenav-bg);
    /*background-color: #ffffff; /* White */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: var(--sidenav-color);
}

.sidenav div {
    vertical-align: middle;
    line-height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "arial";
    font-size: 16px;
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidenav div:hover {
    background-color: var(--sidenav-hoverbg);
    color: var(--sidenav-hovercolor);
    cursor: pointer;
}

/* Live Cam Frame */
.camframe {
    position: relative;
    margin-left: 180px;
    overflow: hidden;
    height: 480px;
    width: 640px;
    margin-bottom: 0px;
    -ms-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
#grid {
    z-index: 10;
    opacity: 0;
    /*background-color: green;*/
    position: absolute;
    width: 512px;
    height: 384px;
    margin-left: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}
#overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    background-color: #000; 
    opacity: 0.8;
    filter: alpha(opacity = 80) !important;
    display: none;
    z-index: 100;
}
#topoverlay{
    cursor: pointer;
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    z-index: 300;
    display: none;
}

.wrap
{
    width: 1280px;
    height: 1024px;
    padding: 0;
    overflow: hidden;
}

.overlayFrame
{
    width: 1280px;
    height: 1024px;
    border: 0;

    margin-top: 0px;
    margin-left: 80px;
    margin-bottom: 150px;


    -ms-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#overlayContent{
    position: fixed; 
    width: 100%;
    top: 50px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}

#contentGallery{
    margin: 0px auto;
}

/* Recording */
.recordingFrame {
    border: none;
    display: none;
    height: 340px;
    width: 520px;
}

.recordingContainer {
    position: absolute;
    display: none;
    background-color: black !important;
    width: 520px;
    height: 370px; 
    left: 400px;
}

.recordingDiv{
    cursor: pointer;
}
.frameX {
    font-size: 25px;
    color: grey !important;
    float: right;
    cursor: pointer;
}

.frameX:hover,
.frameX:focus {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
}

/* Lights */

.outlet {
    color: white;
    background-color: blue !important;
    padding: 5px;
    cursor: pointer;
}

/* Arm/Disarm */
.status {
    padding: 50px;
}

.loadingStatus:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsisStatus steps(4,end) 900ms infinite;      
  animation: ellipsisStatus steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsisStatus {
  to {
    width: 40px;    
  }
}

@-webkit-keyframes ellipsisStatus {
  to {
    width: 40px;    
  }
}

/* Theme Selection */
.theme_select {
    cursor: pointer;
    display: inline-block !important;
    width: 80px;
    line-height: 40px;
    padding-bottom: 20px;
    border: 1px solid #eee;
}
.theme_select img {
    vertical-align: middle;
}
.default {
    background-color: white !important;
    color: #173242 !important;
}

.night {
    background-color: #173242 !important;
    color: white !important;
}

.leafgreen {
    background-color: #599B36 !important;
    color: white !important;
}

.caption {
    text-align: center;
    display: block;
}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    font-family: 'Open Sans';
    border-radius: 5px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    border-radius: 3px;
    padding: 2px 16px;
    background-color: var(--modal-header);
    color: white;
}
.modal-body {padding: 16px;}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Loading */
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.logoutbutton {
    opacity: 0.5;
    background-color: var(--accent-color);
    float: right;
    margin-right: 20px;
    margin-top: 20px;  
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}